<th>name</th>
<th>sets</th>
<th>Repetition</th>
<% @workout.exercises.each do |exercise|%>
  <tr>
    <td><%= exercise.name %></td>
    <td><%= exercise.sets %></td>
    <td><%= exercise.reps %></td>
  </tr>
<% end %>
